.container-navbar-admin {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    color: white;
}

.container-navbar-admin .icon-box {
    width: fit-content;
    padding: 0 20px;
}

.container-navbar-admin .icon-box i {
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
    transition: all 2s ease-out;
}

.container-navbar-admin .profile-box {
    width: fit-content;
    padding: 0 20px;
}

.container-navbar-admin .profile-box i {
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
}